.box {
  display: block;
  position: absolute;
  height: 200px;
}
.box-1 {
  background-color: red;
  width: 382px;
}
.box-2 {
  background-color: green;
  width: 383px;
  top: 30px;
}
.box-3 {
  background-color: blue;
  width: 384px;
  top: 60px;
}
.box-4 {
  background-color: #fcb303;
  width: 385px;
  top: 100px;
}
