.box {
  display: block;
  position: absolute;
  height: 200px;
}
.box-1 {
  background-color: red;
  width: 200px;
}
.box-2 {
  background-color: green;
  width: 210px;
  top: 30px;
}
.box-3 {
  background-color: blue;
  width: 220px;
  top: 60px;
}
.box-4 {
  background-color: yellow;
  width: 230px;
  top: 100px;
}
